<h1>Chug Chug Chug</h1>
<p>Before you sign up to my complete guide feel free to test these out</p>

<ol>
  <li>Drink through the pain. You can do it.</li>
  <li>Ignore the health warnings. We voted out for a reason.</li>
  <li>If you friends don't drink then just drink alone.</li>
  <li>Carbs will slow your reaction times down so eat light.</li>
  <li>Keep empties around your living room as a reminder of your progress.</li>
</ol>

<img src="Beer.jpeg">