<h1>Get your drink on</h1>

<p>This is your number one source of much needed encouragement</p>

<p>Truths about drinking: </p>

<ol>
  <li>It makes you look cool</li>
  <li>It makes you sound cool</li>
  <li>Chicks love a guy who can drink loads</li>
  <li>Kebabs taste great</li>
  <li>Work will fly by</li>
</ol>

<img src="drunk.jpeg">