<!DOCTYPE html>
<html>
<head>
  <title>/ˈbɪn(d)ʒ drɪnkɪŋ/</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
  <a href="/home">Home</a>
  <a href="/about_me">About Me</a>
  <a href="/free_tips">Free Tips</a>
  <a href="/sign_up">Sign Up</a>
</header>
<%=yield%>
</body>
</html>