<h1>Please get in touch if you wish to join my classes</h1>
<p>Prices start at £49.99 per week</p>
<p>I will do group session but please email me for that</p>

<form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  Group size:<br>
  <input type="text" name="groupsize">
  <input type="submit" value="Submit">
</form>